# Core ML frameworks
torch 
torchaudio 
transformers

# Audio processing
soundfile 
audioread

# Phoneme conversion
epitran 

# Word alignment
dtwalign

# Data handling
pandas

# Web framework
flask
flask_cors
